@import 'functions';

@media (min-width: 769px) {
  #toggleMenu, #search-icon-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-wrapper {
    display: none;
  }
  #toggleMenu, #search-icon-mobile, #mini-cart, #wishlist {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
  }
  #search {
    display: none;
  }
  #logo-wrapper, #main-menu-wrapper {
    width: px-to-pc(320px, 443px);
    justify-content: space-between;
  }
}
