@media (min-width: 695px) {
  #toggleMenu, #search-icon-mobile {
    display: none;
  }
}
@media (max-width: 694px) {
  #search, #main-nav {
    display: none;
  }
  .container {
    width: 100%;
    padding: 0 5%;
    justify-content: space-between;
  }
  #toggleMenu, #search-icon-mobile, #wishlist, #mini-cart {
    flex: 1;
  }
}
