@mixin flex-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin placeholder {
  &:-ms-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}


@mixin search($color) {
  color: $color;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: "Myriad Pro";
}

@mixin commonStyles {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  display: flex;
  align-items: center;
  > div {
    display: inline-block;
    background-color: #adadad;
    width: 20px;
    height: 20px;
    border-radius: 25%;
    line-height: 20px;
    text-align: center;
    margin-left: 8px;
    color: #fff;
    font-size: 12px;
    &:hover {
      background-color: #57c5a0;
      cursor: pointer;
    }
  }
}
